.pf-c-page__header-brand-link {
    width: 20rem
}

.pf-c-page__sidebar.pf-m-expanded {
    padding: 1rem;
}

.pf-c-card {
    width: 70vw;
    box-shadow: none
}

.pf-c-card__head:not(:last-child), .pf-c-card__header:not(:last-child) {
    display: inherit;
    justify-content: space-between;
}

.pf-c-page__header-nav {
    display: flex;
    justify-content: flex-end;
}

.pf-l-bullseye {
    justify-content: space-evenly
}

.css-df17o1 {
    position: fixed !important;
}