.MuiCard-root {
    margin-bottom: 1rem;
}

.event-avatar {
    height: inherit;
}

.pf-c-page__main-section.pf-m-light {
    --pf-c-page__main-section--BackgroundColor: unset
}

.pf-c-card {
    --pf-c-card--BackgroundColor:  unset
}