.pf-c-button.pf-m-link.read-link-button {
    color: red;
}

.MuiTypography-paragraph.maps {
    contain: 'layout';
    height: 10rem;
    width: 28rem 
}

.MuiTypography-paragraph {
    height: 10rem;
    width: 28rem 
}

.MuiTypography-root.maps.MuiTypography-body1.MuiTypography-paragraph {
    contain: content;
    width: auto !important;
}