.pf-c-wizard__main {
    position: sticky
}

.MuiTypography-root.typography-centered {
    display: flex;
    justify-content: center;
}

.maps {
    width: 43rem !important;
    height: 10rem !important;
}

